.contato{
    background: #F3F5F8;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    padding: 10%;
}

.contato--bloco{
    display: flex;
    justify-content: space-between  ;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-basis: 20rem;
    gap: 5em;


    
}

.contato--textos{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    word-wrap:break-word;
    gap: 1em;
    

}

.contato--titulo{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;

/* or 120% */

text-align: center;

color: #B8000B;
}

.contato--texto{
    font-size: 1.2em;
}

.contato--formulario{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    padding: 5%;

}

.input-container label{
    font-weight: 500;
}


.input{
    background-color: none;
    background: none;
    border: none;
    border-bottom: 2px solid #3b3b3b;
    padding: 2%;
}

.input:focus{
    outline: none;
    border-color: #B8000B;
}


.input:active{
}


