.nossos-servicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
    gap: 50px;
}


.titulo-servicos{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 1.80rem;
/* identical to box height, or 177% */

display: flex;
align-items: center;

color: #4A4A4A;


}

.subtitulo-servicos{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
/* identical to box height, or 294% */

display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
color: #4A4A4A;
text-align: center;

}

.blocos{
    display: flex;
    justify-content: space-around;
    width: 90%;
    gap: 30px;
}




@media screen and (max-width:480px) {
    .nossos-servicos{
        max-width: 100%;
        flex-wrap: wrap;
        font-size: 1.8em;
        padding: 30px;
        
    }

    .titulo-servicos {
        text-align: center;
    }

    .blocos{
        flex-direction: column;
        max-width: 100%;
    }

    
}